<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <% if(dayName === "Sunday" || dayName === "Saturday"){ %>
        <h1 style="background-color: green;color: white;padding: 15px;"><%= dayName %>'s Tasks</h1>
  <%  } else{ %>
        <h1 style="background-color: red;color: white;padding: 15px;"><%= dayName %>'s Tasks</h1>
    <% } %>


    <% for(let i=0;i<taskList.length;i++){ %>
        <ul>
            <li> <%= taskList[i] %> </li>
        </ul>
    
    <% } %>

    

    <form action="/" method="post">
        <input type="text" name="taskInput" id="taskInput">
        <button type="submit">Add</button>
    </form>
    
</body>
</html>